{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "http://api.meet-me.co.kr",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/rooms/{inviteCode}/submission": {
      "get": {
        "tags": [
          "submission-controller"
        ],
        "summary": "현재 익명 참여자의 최신 제출 조회",
        "operationId": "get",
        "parameters": [
          {
            "name": "inviteCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meet_me_guest",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "저장된 최신 제출",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                }
              }
            }
          },
          "401": {
            "description": "익명 세션 누락 또는 무효",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "403": {
            "description": "방 참여자 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "404": {
            "description": "방 또는 제출 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "submission-controller"
        ],
        "summary": "현재 익명 참여자의 조건 제출 또는 수정",
        "operationId": "save",
        "parameters": [
          {
            "name": "inviteCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meet_me_guest",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveSubmissionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장된 최신 제출",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "입력 계약 위반",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "401": {
            "description": "익명 세션 누락 또는 무효",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "403": {
            "description": "방 참여자 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "404": {
            "description": "방 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "409": {
            "description": "입력 수집 종료 또는 배치 상한 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "429": {
            "description": "제출 요청 제한 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          }
        }
      }
    },
    "/api/rooms": {
      "post": {
        "tags": [
          "room-lifecycle-controller"
        ],
        "summary": "로그인 없이 방과 주최자 참여 생성",
        "operationId": "create",
        "parameters": [
          {
            "name": "meet_me_guest",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoomRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "방 생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoomResponse"
                }
              }
            }
          },
          "400": {
            "description": "입력 검증 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "429": {
            "description": "방 생성 요청 제한 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "503": {
            "description": "요청 제한 저장소 사용 불가",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{inviteCode}/participants": {
      "post": {
        "tags": [
          "room-lifecycle-controller"
        ],
        "summary": "익명 세션으로 방 참여",
        "operationId": "join",
        "parameters": [
          {
            "name": "inviteCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meet_me_guest",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinRoomRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "기존 참여 반환",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoomResponse"
                }
              }
            }
          },
          "201": {
            "description": "새 참여 생성",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoomResponse"
                }
              }
            }
          },
          "400": {
            "description": "입력 검증 실패",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "404": {
            "description": "방 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "409": {
            "description": "이미 닫힌 방",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "429": {
            "description": "방 참여 요청 제한 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{inviteCode}/close": {
      "post": {
        "tags": [
          "room-lifecycle-controller"
        ],
        "summary": "주최자 세션으로 입력 수집 수동 마감",
        "operationId": "close",
        "parameters": [
          {
            "name": "inviteCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meet_me_guest",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseRoomRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "마감 성공 또는 기존 마감 결과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoomResponse"
                }
              }
            }
          },
          "401": {
            "description": "게스트 세션 누락 또는 무효",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "403": {
            "description": "주최자 권한 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "404": {
            "description": "방 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "409": {
            "description": "조기 마감 재확인 필요",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "429": {
            "description": "주최자 명령 요청 제한 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "503": {
            "description": "요청 제한 저장소 사용 불가",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{inviteCode}/candidates/{candidateId}/confirmation": {
      "post": {
        "tags": [
          "matching-result-controller"
        ],
        "summary": "주최자 후보 확정",
        "operationId": "confirm",
        "parameters": [
          {
            "name": "inviteCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "meet_me_guest",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "후보 확정 또는 동일 후보 멱등 재확인",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmedResultResponse"
                }
              }
            }
          },
          "401": {
            "description": "익명 세션 누락 또는 무효",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "403": {
            "description": "주최자 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "404": {
            "description": "방 또는 후보 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "409": {
            "description": "다른 후보가 이미 확정됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "429": {
            "description": "후보 확정 요청 제한 초과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "503": {
            "description": "요청 제한 저장소 사용 불가",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{inviteCode}/analysis/retry": {
      "post": {
        "tags": [
          "analysis-controller"
        ],
        "summary": "주최자 세션으로 지연된 고정 배치 재분석 요청",
        "operationId": "retry",
        "parameters": [
          {
            "name": "inviteCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meet_me_guest",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "재분석 요청 접수",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoomResponse"
                }
              }
            }
          },
          "401": {
            "description": "익명 세션 누락 또는 무효",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "403": {
            "description": "주최자 권한 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "404": {
            "description": "방 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "409": {
            "description": "분석 지연 상태가 아님",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "429": {
            "description": "재분석 요청 제한 초과",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "503": {
            "description": "요청 제한 저장소 사용 불가",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{inviteCode}": {
      "get": {
        "tags": [
          "room-lifecycle-controller"
        ],
        "summary": "초대 코드로 공개 방 정보 조회",
        "operationId": "get_1",
        "parameters": [
          {
            "name": "inviteCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meet_me_guest",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "방 조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RoomResponse"
                }
              }
            }
          },
          "404": {
            "description": "방 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{inviteCode}/result": {
      "get": {
        "tags": [
          "matching-result-controller"
        ],
        "summary": "확정 결과 조회",
        "operationId": "result",
        "parameters": [
          {
            "name": "inviteCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meet_me_guest",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "확정 결과 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmedResultResponse"
                }
              }
            }
          },
          "401": {
            "description": "익명 세션 누락 또는 무효",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "403": {
            "description": "방 참여자 아님",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "404": {
            "description": "방 또는 확정 결과 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{inviteCode}/candidates": {
      "get": {
        "tags": [
          "matching-result-controller"
        ],
        "summary": "결정론적 모임 후보 조회",
        "operationId": "candidates",
        "parameters": [
          {
            "name": "inviteCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meet_me_guest",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "후보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateListResponse"
                }
              }
            }
          },
          "401": {
            "description": "익명 세션 누락 또는 무효",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "403": {
            "description": "방 참여자 아님",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "404": {
            "description": "방 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "409": {
            "description": "후보 준비 전",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          }
        }
      }
    },
    "/api/rooms/{inviteCode}/candidates/unapplied-inputs": {
      "get": {
        "tags": [
          "matching-result-controller"
        ],
        "summary": "주최자용 미반영 입력 조회",
        "operationId": "unappliedInputs",
        "parameters": [
          {
            "name": "inviteCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meet_me_guest",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "미반영 입력 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UnappliedInputResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "익명 세션 누락 또는 무효",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "403": {
            "description": "주최자 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "404": {
            "description": "방 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          },
          "409": {
            "description": "부분 결과 준비 전",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblemSchema"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ManualAvailabilityDto": {
        "type": "object",
        "description": "방 전용 수동 가능 시간 구간",
        "properties": {
          "kind": {
            "type": "string",
            "description": "명시 날짜 또는 주간 반복 구분",
            "enum": [
              "DATED",
              "WEEKLY"
            ]
          },
          "date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "DATED 구간의 지역 날짜"
          },
          "day_of_week": {
            "type": [
              "string",
              "null"
            ],
            "description": "WEEKLY 구간의 요일",
            "enum": [
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          },
          "start_time": {
            "type": "string",
            "description": "포함 시작 지역 시각",
            "example": "18:00"
          },
          "end_time": {
            "type": "string",
            "description": "제외 종료 지역 시각",
            "example": "20:00"
          }
        }
      },
      "SaveSubmissionRequest": {
        "type": "object",
        "description": "현재 익명 참여자의 조건 제출 또는 수정 요청",
        "properties": {
          "raw_text": {
            "type": [
              "string",
              "null"
            ],
            "description": "선택적인 자연어 시간·장소 조건",
            "maxLength": 500
          },
          "manual_available_times": {
            "type": "array",
            "description": "선택적인 방 전용 가능 시간 배열",
            "items": {
              "$ref": "#/components/schemas/ManualAvailabilityDto"
            },
            "maxItems": 256,
            "minItems": 0
          }
        }
      },
      "ApiProblemSchema": {
        "type": "object",
        "description": "RFC 9457 기반 공통 오류 응답",
        "properties": {
          "type": {
            "type": "string",
            "description": "오류 유형 URI"
          },
          "title": {
            "type": "string",
            "description": "HTTP 오류 제목"
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "HTTP 상태 코드"
          },
          "detail": {
            "type": "string",
            "description": "locale에 맞춘 사용자 표시 설명"
          },
          "instance": {
            "type": "string",
            "description": "오류가 발생한 요청 경로"
          },
          "code": {
            "type": "string",
            "description": "locale과 무관한 안정적 오류 코드"
          },
          "actual": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "길이·개수 검증의 실제 값"
          },
          "maximum": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "길이·개수 검증의 최대 허용 값"
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "세부 검증 거부 사유"
          },
          "field_errors": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "description": "필드별 검증 오류"
          },
          "submitted_participants": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "조기 마감 확인 시 현재 제출 참여자 수"
          },
          "expected_participants": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "조기 마감 확인 시 목표 참여자 수"
          },
          "submission_deadline": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "조기 마감 확인 시 제출 마감"
          },
          "retry_after_seconds": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "요청 제한 해제까지 남은 초"
          }
        }
      },
      "SubmissionResponse": {
        "type": "object",
        "description": "현재 익명 참여자의 최신 제출",
        "properties": {
          "revision": {
            "type": "integer",
            "format": "int32",
            "description": "불변 제출 revision"
          },
          "locale": {
            "type": "string",
            "description": "BCP 47 제출 locale"
          },
          "editable": {
            "type": "boolean",
            "description": "현재 입력 수집 상태에서 수정 가능한지 여부"
          },
          "raw_text": {
            "type": [
              "string",
              "null"
            ],
            "description": "저장된 자연어 조건"
          },
          "manual_available_times": {
            "type": "array",
            "description": "정렬·병합된 방 전용 가능 시간",
            "items": {
              "$ref": "#/components/schemas/ManualAvailabilityDto"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "현재 revision 저장 시각"
          }
        }
      },
      "CreateRoomRequest": {
        "type": "object",
        "description": "익명 모임 방 생성 요청",
        "properties": {
          "purpose": {
            "type": "string",
            "description": "모임 목적",
            "example": "프로젝트 킥오프",
            "maxLength": 500,
            "minLength": 0
          },
          "meeting_mode": {
            "type": "string",
            "description": "선호 모임 방식",
            "enum": [
              "IN_PERSON",
              "REMOTE",
              "EITHER"
            ]
          },
          "host_display_name": {
            "type": "string",
            "description": "주최자 표시 이름, 공백 제거 후 1~50자",
            "example": "민수",
            "maxLength": 50,
            "minLength": 0
          },
          "expected_participants": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "자동 마감할 고유 제출 참여자 목표, 설정하면 2 이상",
            "minimum": 2
          },
          "submission_deadline": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "제출 마감 절대 시각",
            "example": "2026-09-21T12:00:00Z"
          },
          "manual_only": {
            "type": "boolean",
            "description": "자동 조건 없이 주최자가 수동으로만 마감하는지 여부"
          },
          "search_start_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "후보 탐색 시작 지역 날짜. 종료일과 함께 생략하면 오늘부터 14일"
          },
          "search_end_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "후보 탐색 배타적 종료 지역 날짜. 시작일과 함께 제공"
          }
        },
        "required": [
          "host_display_name",
          "purpose"
        ]
      },
      "RoomResponse": {
        "type": "object",
        "description": "민감 식별자를 제외한 공개 방 정보",
        "properties": {
          "purpose": {
            "type": "string",
            "description": "모임 목적"
          },
          "viewer": {
            "$ref": "#/components/schemas/ViewerParticipationResponse",
            "description": "현재 브라우저 세션의 참여 정보"
          },
          "invite_code": {
            "type": "string",
            "description": "공개 방 초대 코드",
            "maxLength": 22,
            "minLength": 22,
            "pattern": "^[A-Za-z0-9_-]{22}$"
          },
          "meeting_mode": {
            "type": "string",
            "description": "선호 모임 방식",
            "enum": [
              "IN_PERSON",
              "REMOTE",
              "EITHER"
            ]
          },
          "time_zone_id": {
            "type": "string",
            "description": "IANA 방 시간대",
            "example": "Asia/Seoul"
          },
          "search_start_date": {
            "type": "string",
            "format": "date",
            "description": "후보 탐색 시작 지역 날짜"
          },
          "search_end_date": {
            "type": "string",
            "format": "date",
            "description": "후보 탐색 배타적 종료 지역 날짜"
          },
          "search_range_source": {
            "type": "string",
            "description": "탐색 날짜 범위 결정 출처",
            "enum": [
              "HOST_SPECIFIED",
              "DEFAULTED"
            ]
          },
          "expected_participants": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "자동 마감 참여자 목표"
          },
          "submission_deadline": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "제출 마감 절대 시각"
          },
          "manual_only": {
            "type": "boolean",
            "description": "수동 전용 마감 정책 여부"
          },
          "collection_status": {
            "type": "string",
            "description": "입력 수집 상태",
            "enum": [
              "COLLECTING",
              "CLOSED"
            ]
          },
          "closure_reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "입력 수집 마감 원인",
            "enum": [
              "EXPECTED_PARTICIPANTS",
              "DEADLINE",
              "MANUAL"
            ]
          },
          "closed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "입력 수집 마감 절대 시각"
          },
          "public_status": {
            "type": "string",
            "description": "내부 상태를 조합한 공개 진행 상태",
            "enum": [
              "COLLECTING",
              "ANALYZING",
              "INSUFFICIENT_PARTICIPANTS",
              "ANALYSIS_DELAYED",
              "NO_MATCH",
              "READY",
              "READY_WITH_WARNINGS",
              "CONFIRMED"
            ]
          },
          "input_disclosure_policy": {
            "type": "string",
            "description": "부분 결과에서 미반영 원문을 공개하는 범위",
            "enum": [
              "HOST_ON_PARTIAL_RESULT"
            ]
          }
        }
      },
      "ViewerParticipationResponse": {
        "type": "object",
        "description": "현재 브라우저 세션의 방 참여 상태",
        "properties": {
          "joined": {
            "type": "boolean",
            "description": "현재 세션이 이 방에 참여했는지 여부"
          },
          "role": {
            "type": [
              "string",
              "null"
            ],
            "description": "현재 세션 참여자의 역할",
            "enum": [
              "HOST",
              "MEMBER"
            ]
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "현재 세션 참여자의 표시 이름"
          }
        }
      },
      "JoinRoomRequest": {
        "type": "object",
        "description": "익명 참여 요청",
        "properties": {
          "display_name": {
            "type": "string",
            "description": "참여자 표시 이름, 최초 참여에만 사용",
            "example": "지수",
            "maxLength": 50,
            "minLength": 0
          }
        },
        "required": [
          "display_name"
        ]
      },
      "CloseRoomRequest": {
        "type": "object",
        "description": "수동 마감 요청",
        "properties": {
          "confirm_early": {
            "type": "boolean",
            "description": "자동 조건 충족 전 조기 마감을 재확인했는지 여부"
          }
        }
      },
      "CandidatePlaceResponse": {
        "type": "object",
        "description": "후보 대표 장소",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "WGS84 위도"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "WGS84 경도"
          },
          "display_name": {
            "type": "string",
            "description": "정규화된 표시 이름"
          }
        }
      },
      "CandidateResponse": {
        "type": "object",
        "description": "결정론적으로 계산된 모임 후보",
        "properties": {
          "rank": {
            "type": "integer",
            "format": "int32",
            "description": "후보 표시 순위",
            "maximum": 3,
            "minimum": 1
          },
          "place": {
            "description": "대면 후보의 대표 장소",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CandidatePlaceResponse"
              },
              {
                "type": "null"
              }
            ]
          },
          "summary": {
            "type": "string",
            "description": "요청 locale로 생성한 후보 요약"
          },
          "candidate_id": {
            "type": "string",
            "format": "uuid",
            "description": "후보 식별자"
          },
          "plan_type": {
            "type": "string",
            "description": "후보 플랜 A, B 또는 C",
            "enum": [
              "A",
              "B",
              "C"
            ]
          },
          "meeting_mode": {
            "type": "string",
            "description": "후보의 대면 또는 비대면 방식",
            "enum": [
              "IN_PERSON",
              "REMOTE",
              "EITHER"
            ]
          },
          "attendance_count": {
            "type": "integer",
            "format": "int32",
            "description": "후보에 포함되는 참여자 수"
          },
          "total_participants": {
            "type": "integer",
            "format": "int32",
            "description": "고정 배치의 전체 참여자 수"
          },
          "time_ranges": {
            "type": "array",
            "description": "UTC 실제 시점 기준 후보 시간 구간",
            "items": {
              "$ref": "#/components/schemas/CandidateTimeRangeResponse"
            }
          }
        }
      },
      "CandidateTimeRangeResponse": {
        "type": "object",
        "description": "후보의 실제 UTC 시간 구간",
        "properties": {
          "start_at": {
            "type": "string",
            "format": "date-time",
            "description": "포함 시작 절대 시각"
          },
          "end_at": {
            "type": "string",
            "format": "date-time",
            "description": "배타적 종료 절대 시각"
          }
        }
      },
      "ConfirmedResultResponse": {
        "type": "object",
        "description": "주최자가 확정한 최종 결과",
        "properties": {
          "candidate": {
            "$ref": "#/components/schemas/CandidateResponse",
            "description": "확정 후보"
          },
          "confirmed_at": {
            "type": "string",
            "format": "date-time",
            "description": "확정 시각"
          }
        }
      },
      "CandidateListResponse": {
        "type": "object",
        "description": "후보 생성 결과",
        "properties": {
          "quality": {
            "type": "string",
            "description": "전체 또는 부분 반영 품질",
            "enum": [
              "COMPLETE",
              "PARTIAL"
            ]
          },
          "candidates": {
            "type": "array",
            "description": "0개일 수 있는 우선순위 후보 배열",
            "items": {
              "$ref": "#/components/schemas/CandidateResponse"
            }
          },
          "applied_submissions": {
            "type": "integer",
            "format": "int32",
            "description": "매칭에 반영된 제출 수"
          },
          "total_submissions": {
            "type": "integer",
            "format": "int32",
            "description": "고정 배치의 전체 제출 수"
          },
          "unapplied_inputs": {
            "type": "integer",
            "format": "int32",
            "description": "반영되지 않은 입력 수"
          }
        }
      },
      "UnappliedInputResponse": {
        "type": "object",
        "description": "주최자에게만 공개되는 미반영 입력",
        "properties": {
          "reason": {
            "type": "string",
            "description": "언어 중립 미반영 사유 코드"
          },
          "participant_display_name": {
            "type": "string",
            "description": "입력을 제출한 참여자의 표시 이름"
          },
          "raw_text": {
            "type": "string",
            "description": "후보에 반영되지 않은 원문"
          }
        }
      }
    }
  }
}
